
.success{
    color: green;
}

.danger{
    color: red;
}
.warning{
    color: orange;
}

.Special{
   font-size: 32px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-transform: uppercase;
}

